*{
    font-family: 'Roboto';
    /* border: black dashed 1px;   */
}
body {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}
button, #signup{
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
}
button{
    border: none;
    width: fit-content;
    padding: 10px 20px;
    height: 41px;
    width: 100px;
}
h1, h3{
    margin: 0px;
    padding: 0px;
}
#top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1F2937;
    height: 400px;
    padding: 0px 450px 60px 450px;
}
#header, #sub-header, #footer{
    display: flex;
    align-items: baseline;
    background-color: #1F2937;
    padding: 5px;
    font-size: 24px;
    flex-direction: row;
    justify-content: space-between;
    color: #E5E7EB;
}
#header{
    align-items: start;
}
#sub-header{
    align-items: end;
}
#description{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    text-align: start;
}
#links{
    display: flex;
    gap: 30px;
}
#img-container{
    display: flex;
    border:solid black 1px;
    background-color: grey;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
#content-container{
    color: #1F2937;
    flex: 1;
    padding: 20px;
}
#content-title{
    text-align: center;
}
#imgs-and-descriptions{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#content-image{
    width: 100px;
    height:100px;
    border:#3882F6 solid 2px;
    border-radius: 10px;
}
#quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding: 20px;
}
#quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
#quote-author{
    text-align: right;
    margin-right: 35%;
}
#signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    padding: 40px 150px;
    width: 800px;
    height: 100px;
}
#signup p{
    font-weight:100;
}
#signup-button{
    border: white 2px solid;
    height: 41px;
    width: 100px;
    padding: 5px;
}
#footer{
    justify-content: center;
}